/* =======================================================
*    Claudiu Nedelcu edit 2017
* 	Template Style
*	Edit this section
*
* ======================================================= */

.w3-sidebar a {font-family: 'Courgette', cursive;font-size: 18px;}
.w3-wide {font-family: 'Courgette', cursive;}

body,p,li,a{
  font-family: 'Courgette', cursive;font-size: 18px;
  color:black;
}

/*zona Logo pe ecran mare distana dinte imagine si scris*/
.w3-text-grey, .w3-hover-text-grey:hover, .w3-text-gray, .w3-hover-text-gray:hover {
    color: #757575!important;
    margin-top: -20px;
}

.w3-container > h2 {
  font-family: 'Courgette', cursive;
  color:black;
}


.produse{
  margin-top: 50px;
}

/*produse aranjate mai bine in grid */
.addproduse{
  margin-left: 250px;
}


img{
  width: 100%;
  margin-top: 11px;
}


.w3-main{
   background-color:  #f5f5f5;

}

.body{
  background-color:  #f5f5f5;
}

.w3-content{
  background-color:  #f5f5f5;
}

.w3-sidebar{
  background-color: white;

}

.phonemenu{
  background-color:  white;
}


.panel-body {
    padding: 15px;
    background: #F5F5F5;
}


/*Carousel Fullscreen*/
/** TIPS:
1. The carousel shouldn't be in any other div, like for example div with class container.
2. You can align image position in classes bg1, bg2, bg3 using css background-position.
*/



/*DETALIIPRODUSE*/
label{
  font-family: 'Courgette', cursive;font-size: 18px;
}

.form-control{
  font-family: 'Courgette', cursive;font-size: 14px;
}

.configuration{
  margin-left: -250px;
}

.comanda{
  font-family: 'Courgette', cursive;font-size: 15px;
  background-color:  #e7daa0;
}

.panel-body {
    padding: 15px;
    background-color: #F5F5F5;
    border:none;
}

.test{
    font-family: 'Courgette', cursive;font-size: 25px;
}

.w3-center{
    font-family: 'Courgette', cursive;
}

.w3-container{
    font-family: 'Courgette', cursive;
}
