<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
  </header>

<div class="panel" ng-init="getBook()">
  <div class="panel-body">
    <div class="row">
      <div class="col-md-4">
        <img src="{{book.image_url}}">
      </div>
      <div class="col-md-8">
        </p>{{book.description}}</p>
        <ul class="list-group">
          <li class="list-group-item">Nume Produs: {{book.nume_produs}}</li>
          <li class="list-group-item">Categorie: {{book.categorie}}</li>
          <li class="list-group-item">Speicificatii: {{book.alte_detalii}}</li>
          <li class="list-group-item">Pret: {{book.pret}} lei</li>

        </ul>

      </div>
    </div>
  </div>
</div>

<div class="panel">
  <div class="panel-heading">
    <h3 class="panel-title">Configurare</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateBook()" ng-init="getBook()">
        <div class="form-group">
          <label>Nume Copil</label>
          <input type="text" class="form-control" ng-model="book.nume_copil" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Data Botez</label>
          <input type="text" class="form-control" ng-model="book.data_botez" placeholder="Pret">
        </div>
        <div class="form-group">
          <label>Alte observatii(Tematica dorita, culori preferate, alte detalii)</label>
          <textarea type="text" class="form-control" ng-model="book.alte_obs" placeholder="Alte detalii"></textarea>
        </div>

<h2 class="test">Mai puteti adauga:</h2>
        <div class="form-group">
          <label>Optiuni</label>
          <select ng-model="book.optiune1" class="form-control">
            <option value="Suspense">n/a</option>
            <option value="Suspense">Body-20lei</option>
          </select>
          <div class="form-group">
            <label>Optiuni</label>
            <select ng-model="book.optiune2" class="form-control">
              <option value="Suspense">n/a</option>
              <option value="Suspense">Cutie-30lei</option>
            </select>
          </div>

        </div>
          <button type="submit" class="btn comanda">Comanda</button>
      </form>
    </div>
    </div>
  </div>
</div>
</div>
