<a href="#/produse">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Edit Book</h3>
  </div>
  <div class="panel-body addproduse">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="updateBook()" ng-init="getBook()">
        <div class="form-group">
          <label>Nume Produs</label>
          <input type="text" class="form-control" ng-model="book.nume_produs" placeholder="Title">
        </div>
        <div class="form-group">
          <label>Categorie</label>
          <select ng-model="book.categorie" class="form-control">
            <option value="Fete-Botez-Lumanari">Fete-Botez-Lumanari</option>
            <option value="Fete-Botez-Trusouri">Fete-Botez-Trusouri</option>
            <option value="Fete-Botez-Rochite">Fete-Botez-Rochite</option>
            <option value="Baieti-Botez-Lumanari">Baieti-Botez-Lumanari</option>
            <option value="Baieti-Botez-Trusouri">Baieti-Botez-Trusouri</option>
            <option value="Baieti-Botez-Costume">Baieti-Botez-Costume</option>
            <option value="Cadouri-Pernite">Cadouri-pernite</option>
            <option value="Cadouri-Jucarii">Cadouri-jucarii</option>
            <option value="Cadouri-Tricouri">Cadouri-tricouri</option>
          </select>
        </div>
        <div class="form-group">
          <label>Alte Detalii</label>
          <textarea type="text" class="form-control" ng-model="book.alte_detalii" placeholder="Alte detalii"></textarea>
        </div>
        <div class="form-group">
          <label>Pret</label>
          <input type="text" class="form-control" ng-model="book.pret" placeholder="Pret">
        </div>
        <div class="form-group">
          <label>Marime</label>
          <select ng-model="book.marime" class="form-control">
            <option value="Suspense">XS</option>
            <option value="Drama">S</option>
            <option value="Romance">M</option>
            <option value="NonFiction">L</option>
            <option value="Other">XL</option>
          </select>
        </div>

        <div class="form-group">
          <label>Featured</label>
          <select ng-model="book.featured" class="form-control">
            <option value="Y">Y</option>
            <option value="N">N</option>
          </select>
        </div>

        <div class="form-group">
          <label>Image URL</label>
          <input type="text" class="form-control" ng-model="book.image_url" placeholder="Image URL">
        </div>

        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>
