
<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
  </header>
<div class="produse">


<div class="w3-row">
<div ng-init="getFeteBotezLumanari()">
<div ng-repeat="book in books">
    <div class="w3-col l3 s6">
      <div class="w3-container">
        <img src="{{book.image_url}}" style="width:100%;height: 280px;"><br>
        <p align="center" class="nume">Nume Produs:{{book.nume_produs}}</p><br>
        <p align="center" class="pret">Pret:{{book.pret}} Lei</p>
        <a class="btn btn-primary" href="#/produse/details/{{book._id}}">Vezi detalii produs</a>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
