<!-- !PAGE CONTENT! -->
<div class="w3-main" style="margin-left:250px">

  <!-- Push down content on small screens -->
  <div class="w3-hide-large" style="margin-top:83px"></div>

  <!-- Top header -->
  <header class="w3-container w3-xlarge">
  </header>

  <div ng-init="getFeteBotezRochite()">
  	<div id="fh5co-work-section" class="fh5co-light-grey-section">

  		<div class="container">
  			<div class="row">
  				<div ng-repeat="book in books">
  				<div class="col-md-4 animate-box">
  					<a href="#/produse/details/{{book._id}}" class="item-grid text-center">
  						<div class="image" style="background-image: url({{book.image_url}})"></div>
  						<div class="v-align">
  							<div class="v-align-middle">
                  <p align="center" class="nume">{{book.nume_produs}}</p><br>
                  <p align="center" class="pret">Pret:{{book.pret}} Lei</p>
                </div>
  						</div>
  					</a>
  				</div>
  			</div>
  		</div>
  	</div>
  </div>
  </div>
</div>
